// Specific CSS for your home-page
.content {
  min-width: 1245px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gamemode-container {
  width: 100%;
  padding: 20px 0 10px 0;
  border-top: 1px solid #282c39;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
