<div class="graph-cards-container">
  <div class="graph-card">
  </div>
  <div class="graph-card">
  </div>
  <div class="graph-card">
  </div>
  <div class="graph-card">
  </div>
  <div class="graph-card">
  </div>
</div>
