<div class="most-played-container">
  <%# remove bg-image-test div when sincro with user, now is just for testing %>
  <div class="bg-image-test">
  <%= image_tag "fullportrait.png", class: "bg-player"%>
  </div>

  <div class="most-played-card">
    <h3>Most Played</h3>
    <%# TO DO %>
    <p>info related here</p>
    <a href="#">View more agents</a>
  </div>
</div>
