.most-played-container {
  padding: 40px 0 0 0;
  width: 400px;
  height: 300px;
  transition: 0.8s ease;
  overflow: hidden;
}

.most-played-container::before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: -270px;
  width: 430px;
  height: 750px;
  background-position: bottom center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 730px;
  transition: 0.8s ease;
  background-image: var(--background-fullbutst-url);
  filter: grayscale(60%);
  opacity: 0.6;
  overflow: hidden;
  z-index: 0;
}

.most-played {
  width: 400px;
  height: 250px;
  background-color: #282c39;
  border-radius: 20px;
  border: 2px solid #f73b5d;
  background: inherit;
  position: absolute;
  backdrop-filter: blur(2px);
}

.most-played::before {
  position: absolute;
  content: "";
  background: inherit;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 150px rgba(29, 32, 42, 0.7);
  filter: blur(30px);
  border-radius: 20px;
}

@media (max-width: 1585px) {
  .most-played-container::before {
    left: 20%;
    transition: 0.8s ease;
  }
}
