.navbar-container {
  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: #161920;
  padding-left: 0px;
  padding-right: 35px;
}

.logo {
  width: 165px;
  height: 100%;
  margin-right: 25px;
}

.navbar {
  border-bottom: 1px solid #282c39;
  width: 100%;
}

.navbar > .links {
  display: flex;
  flex-direction: row;
  padding: 1;
  gap: 70px;
}

.navbar > .links > .link {
  padding: 0;
  color: #9697b0;
  display: flex;
  flex-direction: row;
  gap: 7px;
  font-family: supria-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  font-size: 17px;
}

.navbar > .links > .link > a {
  color: #ffffff;
}

.navbar > .links > .link > svg {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-top: 8px;
}

.link > .highlight {
  box-shadow: 0px 0px 4px 1px rgba(247, 59, 94, 1);
}

.online-status {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: 22.5px;
  gap: 10px;
}

.navbar > .profile > .online-status > p {
  color: white;
  font-family: supria-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.activity-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding-top: 2px;
}

.notification-icon {
  width: 21px;
  height: 22px;
  margin-left: 50px;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-left: 20px;
}

.navbar-container > .logo {
  width: 212px;
}
