// Specific CSS for your rank-section
.rank-image {
  width: 76px;
  height: 76px;
  margin-right: 20px;
  margin-top: 5px;
}

.rank-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #161920;
  color: white;
}

.tier-container {
  display: flex;
  flex-direction: column;
}

.tier-container > .name {
  font-family: supria-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 26px;
  margin: 0;
}

.tier-container > .tier {
  font-family: supria-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18;
  margin: 0;
}

.tier-container > .progress {
  -webkit-appearance: none;
  appearance: none;
  width: 380px;
  height: 6px;
  margin-top: 4px;
}

.tier-container > .progress::-webkit-progress-bar {
  background-color: #9697B0;
}

progress::-webkit-progress-value {
  border-radius: 6px;
  background-color: #F53B5D;
}

.bar-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
