// Specific CSS for your rank-section
.rank-image {
	margin-top: 5px;
	margin-right: 20px;
	width: 76px;
	height: 76px;
	filter: drop-shadow(0px 10px 15px rgba(255, 255, 255, 0.1));
}
.rank-container {
	display: flex;
	flex-direction: row;
	background-color: #161920;
	padding: 20px 20px 0px 5px;
	color: white;
}
.tier-container {
	display: flex;
	flex-direction: column;
}
.tier-container > .name {
	margin: 0;
	font-family: supria-sans, sans-serif;
	font-size: 26px;
	font-weight: 800;
	font-style: normal;
}
.tier-container > .tier {
	margin: 0;
	font-family: supria-sans, sans-serif;
	font-size: 18;
	font-weight: 500;
	font-style: normal;
}
.tier-container > .progress {
	margin-top: 4px;
	width: 380px;
	height: 6px;
	-webkit-appearance: none;
	appearance: none;
}
.tier-container > .progress::-webkit-progress-bar {
	background-color: #9495AD;
}
progress::-webkit-progress-value {
	border-radius: 6px;
	background-color: #F73B5D;
}
.bar-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5px;
}
